/* Modifications to overwrite Bootstrap's styles. */
$theme-colors: {
    "primary": #44546b
};
@import "../node_modules/bootstrap/scss/bootstrap";
.navbar-custom{
    background-color: #44546b;
}
.nav-link{
    color: white;
}
.btn{
    background-color: #44546b;
    border-color: #44546b;
}
.btn-ftr{
    float:right;
}
.card{
    border: 0px;
}
.list-inline-item{
    margin-right: 0px;
}
.list-inline-item > a{
    color: #212529;
    text-decoration: none;
}
.list-group-item{
    border: none;
}