/* Modifications to overwrite Bootstrap's styles. */
$theme-colors:(
    "dark": #44546b
);
@import "../node_modules/bootstrap/scss/bootstrap";
.nav-link{
    color: white;
}

.btn-ftr{
    float:right;
}
.card{
    border: 0px;
}
.list-inline-item{
    margin-right: 0px;
}
.list-inline-item > a{
    color: #212529;
    text-decoration: none;
}
.list-group-item{
    border: none;
}