.navbar-custom{
    background-color: #44546b !important;
}
.nav-link{
    color: white !important;
}
.btn{
    background-color: #44546b;
    border-color: #44546b;
}
.btn-ftr{
    float:right;
}
.card{
    border: 0px !important;
}